@model OrdenCompra.Models.Article

@{
    ViewBag.Title = "Editar articulo";
}

<div class="container-fluid">
    <section class="bg-light text-dark border-custom">
        <div class="bg-secondary text-light panel-custom border">
            <h6 class="panel-title">
                Editar articulo
            </h6>
        </div>

        <div class="mt-3 ml-2 mr-2">
            @using (Html.BeginForm(null, null, FormMethod.Post,
                              new { id = "EditArticulo" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
            <div class="form-row">
                <div class="col-12 mb-2">
                    <label for="validationDefaultId">Código</label>
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control form-control-sm col-4", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 mb-2">
                    <label for="validationDefaultDescription">Descripción</label>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control form-control-sm col-4", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 mb-2">
                    <label for="validationDefaultMark">Marca</label>
                    @Html.EditorFor(model => model.Mark.Description, new { htmlAttributes = new { @class = "form-control form-control-sm col-4", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.Mark.Description, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 mb-2">
                    <label for="validationDefaultModel">Modelo</label>
                    @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control form-control-sm col-4", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 mb-2">
                    <label for="validationDefaultTamano">Tamaño</label>
                    @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control form-control-sm col-4" } })
                    @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                </div>
            </div>
                <button id="editArticulo" class="btn btn-danger" type="submit">
                    Guardar cambios
                </button>

                <span id="message" class="d-block text-@ViewBag.Result pl-2 pr-2 pb-1 pt-1 mt-3 mb-0">@ViewBag.Message</span>
            }
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {

        $(".numericOnly").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
        });
    });

</script>

