@model OrdenCompra.Models.StatusContainer

@{
    ViewBag.Title = "Editar estatus";
}

<div class="container-fluid">
    <section class="bg-light text-dark border-custom">
        <div class="bg-secondary text-light panel-custom border">
            <h6 class="panel-title">
                Editar estatus
            </h6>
        </div>

        <div class="mt-3 ml-2 mr-2">
            @using (Html.BeginForm(null, null, FormMethod.Post,
                              new { id = "EditStatus" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="form-row">
                    <div class="col-3 mb-2">
                        <label for="validationDefaultDescription">Descripción</label>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <button id="createStatus" class="btn btn-danger" type="submit">
                    Guardar cambios
                </button>

                <span id="message" class="d-block text-@ViewBag.Result pl-2 pr-2 pb-1 pt-1 mt-3 mb-0">@ViewBag.Message</span>
            }
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#ContainerStatus").addClass("menu-active");
    });

</script>

