@model OrdenCompra.Models.ShippingCompany

@{
    ViewBag.Title = "Editar registro de naviera";
}

<div class="container-fluid">
    <section class="bg-light text-dark border-custom">
        <div class="bg-secondary text-light panel-custom border">
            <h6 class="panel-title">
                Editar registro naviera
            </h6>
        </div>

        <div class="mt-3 ml-2 mr-2">
            @using (Html.BeginForm(null, null, FormMethod.Post,
                              new { id = "EditNaviera" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="form-row">
                    <div class="col-3 mb-2">
                        <label for="validationDefaultDescription">Descripción Naviera</label>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-3 mb-2">
                        <label for="validationDefaultPuerto">Puerto</label>
                        @Html.EditorFor(model => model.Port, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-3 mb-2">
                        <label for="validationDefaultDias">Días</label>
                        @Html.EditorFor(model => model.Days, new { htmlAttributes = new { @class = "form-control numericOnly" } })
                        @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
                    </div>
                </div>
                <button id="createNaviera" class="btn btn-danger" type="submit">
                    Guardar cambios
                </button>

                <span id="message" class="d-block text-@ViewBag.Result pl-2 pr-2 pb-1 pt-1 mt-3 mb-0">@ViewBag.Message</span>
            }
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#Navieras").addClass("menu-active");

        $(".numericOnly").keypress(function (e) {
            if (String.fromCharCode(e.keyCode).match(/[^0-9]/g)) return false;
        });

        $("#Days").keypress(function () {
            if (this.value.length >= 3)
                return false;
        });
    });

</script>

