@model OrdenCompra.ViewModels.OrderPurchaseQueryViewModel

@{
    ViewBag.Title = "Listado de Ordenes";
}
<style>
    .Abierta {
        color: orange;
    }

    .Producción {
        color: yellow;
    }

    .En-puerto {
        color: green;
    }

    .Producción {
        color: dodgerblue;
    }

    .Cerrada {
        color: red;
    }

    .select2-container,
    .select2-container--default .selection {
        width: 100% !important;
    }

    .select2-search__field {
        max-width: none !important;
    }
</style>

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/toastr.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<div class="container-fluid">
    <section class="text-dark border-custom border">
        <div class="bg-secondary text-light panel-custom border">
            <h6 class="panel-title">
                Listado de Ordenes
            </h6>
        </div>

        <section class="bg-light pb-2 mb-1">
            <div class="bg-light-gray text-secondary panel-custom border">
                <h6 class="panel-title">Filtro avanzado</h6>
            </div>

            <div class="form-row filter-container">
                <div class="form-group mt-1 ml-2 col-lg-4 col-md-4 col-sm-12">
                    <label for="orderDate">Articulos</label><br />
                    @Html.DropDownList("articleId", new SelectList(ViewBag.Articles, "Value", "Text"), new
                     {
                         @class = "form-control form-control-sm small-box searchable-dropdown",
                         @style = "border: 1px solid lightgray; color: gray;"
                     })
                </div>
                <div class="form-group mt-1 ml-2 col-lg-3 col-md-3 col-sm-12">
                    <label for="orderDate">Modelos</label>
                    @Html.DropDownList("modelId", new SelectList(ViewBag.Models, "Value", "Text"), new
                     {
                         @class = "form-control form-control-sm small-box",
                         @style = "border: 1px solid lightgray; color: gray;"
                     })
                </div>
                <div class="form-group mt-1 ml-2 col-lg-3 col-md-3 col-sm-12">
                    <label for="orderDate">Marcas</label>
                    @Html.DropDownList("markId", new SelectList(ViewBag.Marks, "Value", "Text"), new
                     {
                         @class = "form-control form-control-sm small-box",
                         @style = "border: 1px solid lightgray; color: gray;"
                     })
                </div>
            </div>

            <span class="mt-2 ml-2 mb-1 text-custom" id="show-articles" onclick="toggleArticles();" style="cursor: pointer;">Mostrar columna de articulos</span>
        </section>

        @if (Model.Articles != null)
        {
            <div class="bg-light-gray text-secondary panel-custom border">
                <h6 class="panel-title" style="cursor: pointer;">Articulos Consolidados</h6>
            </div>
            <div class="mt-3 ml-2 mr-2">
                <table id="articlesTable" class="table table-striped table-bordered table-condensed table-sm">
                    <thead>
                        <tr class="bg-danger text-light">
                            <th>
                                Código
                            </th>
                            <th>
                                Articulo
                            </th>
                            <th class="text-right">
                                Cantidad Solicitada
                            </th>
                            <th class="text-right">
                                Cantidad en Fabrica
                            </th>
                            <th class="text-right">
                                Cantidad en Transito
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Articles)
                        {
                            var fullTraffic = item.TotalRequested == item.TotalTraffic;

                            <tr class="@(fullTraffic ? "font-weight-bold" : "")">
                                <td>@item.Id</td>
                                <td>@item.Description</td>
                                <td class="text-right">@item.TotalRequested</td>
                                <td class="text-right">@item.TotalFactory</td>
                                <td class="text-right">@item.TotalTraffic</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

        <div class="mt-2 ml-2 mr-2">
            <table id="ordenesTable" class="table table-striped table-bordered table-condensed table-sm">
                <thead>
                    <tr>
                        <th>
                            Orden No.
                        </th>
                        <th>
                            Suplidor
                        </th>
                        <th id="articles-header" style="min-width: 380px; display: none">
                            Articulos
                        </th>
                        <th class="text-center">
                            Fecha de Orden
                        </th>
                        <th class="text-center">
                            Estatus
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Orders)
                    {
                        var redirectURL = System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + $"/Orden/Index?id={item.OrderPurchaseId}";

                        <tr>
                            <td onclick="window.open('@redirectURL', '_blank');" style="cursor: pointer;" title="Click para ver detalle" onmouseover="this.style.opacity = 0.8; this.style.fontSize = '14px';" onmouseout="this.style.opacity = 1; this.style.fontSize='13px';">@item.OrderPurchaseId</td>
                            <td>@item.Provider.ProviderName</td>
                            <td class="articles-details" style="display: none">
                                @foreach (var article in item.OrderPurchaseArticlesContainers.Select(s => new { s.ArticleId, s.Article.Description }).Distinct().OrderBy(o => o.Description).ToList())
                                {
                                    <span>@article.ArticleId - @article.Description</span><br />
                                }
                            </td>
                            <td class="text-center">@string.Format("{0:dd/MM/yyyy}", item.DateDMA)</td>
                            <td class="text-center @(item.StatusOrderPurchase.Description.Replace(' ', '-'))" style="font-weight: bold">@item.StatusOrderPurchase.Description</td>
                            <td align="center">
                                <a class="btn btn-sm btn-danger" href="javascript:void(0)" onclick="deleteOrder(@item.OrderPurchaseId)" title="Eliminar">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                            <td align="center">
                                <a class="btn btn-sm btn-danger" href="javascript:void(0)" onclick="window.open('@redirectURL', '_blank');" style="cursor: pointer;" title="Click para ver detalle">
                                    <i class="fa fa-search"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>

@section scripts {
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}
<script type="text/javascript">

    const deleteOrder = (id) => {
        if (confirm(`Seguro que desea eliminar la orden No. ${id} ?`)) {
            $.ajax({
                "url": "/Orden/Delete?id=" + id,
                "type": "POST",
                "success": function (response) {
                    if (response.result === "200") {
                        window.location.reload();
                    } else {
                        console.log(response.message);
                        alert(response.message);
                        //alert('Hubo un error tratando de eliminar la orden (Contacte al administrador del sistema).');
                    }
                }
            });
        }
    }

    $(document).ready(function () {
        const articleId = new URLSearchParams(window.location.search).get('articulo');
        if (articleId)
            $("#articleId").val(articleId);

        const modelId = new URLSearchParams(window.location.search).get('modelo');
        if (modelId)
            $("#modelId").val(modelId);

        const markId = new URLSearchParams(window.location.search).get('marca');
        if (markId)
            $("#markId").val(markId);
            
        $("#articleId").select2();
        $("#modelId").select2();
        $("#markId").select2();

        $("#articles-header").hide();
        $(".articles-details").hide();

        $("#ListOrders").addClass("menu-active");
        $("#ordenesTable").DataTable();

        //Replace Previous -> Anterior
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Previous', 'Anterior');
        });

        //Replace Next -> Próximo
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Next', 'Próximo');
        });

        //Replace Showing -> Mostrando
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Showing', 'Mostrando');
        });

        //Replace Show -> Mostrar
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Show', 'Mostrar');
        });

        //Replace Entries -> Registros
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('entries', 'registros');
        });

        //Replace Search -> Buscar
        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('Search', 'Buscar');
        });

        $('body :not(script)').contents().filter(function () {
            return this.nodeType === 3;
        }).replaceWith(function () {
            return this.nodeValue.replace('No data available in table', 'No existen registros para mostrar');
        });

        $("#articleId").on('change', function (evt) {
            if (evt.currentTarget.value === 0)
                window.location = '/Orden/Listado';

                window.location = `/Orden/Listado?articulo=${ evt.currentTarget.value }`;
        });

        $("#modelId").on('change', function (evt) {
            window.location = `/Orden/Listado?modelo=${evt.currentTarget.value}`;
        });

        $("#markId").on('change', function (evt) {
            if (evt.currentTarget.value === 0)
                window.location = '/Orden/Listado';

            window.location = `/Orden/Listado?marca=${evt.currentTarget.value}`;
        });
    });

    function toggleArticles() {
        if ($("#show-articles").html() === "Mostrar columna de articulos") {
            $("#articles-header").show();
            $(".articles-details").show();
            $("#show-articles").html("Ocultar columna de articulos");
        } else {
            $("#articles-header").hide();
            $(".articles-details").hide();
            $("#show-articles").html("Mostrar columna de articulos");
        }
    }
</script>
